.nav-img{
    width: 250px;
    margin-right: 400px;
}
.header-img{
    width: 400px;
}
.buy-btn{
    color: white;
    font-size: 15px;
    background-color: rgb(134, 161, 26);
    padding: 10px 10px;
    border-radius: 10px;
}
.header-text{
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 800;
    color: #fabe4c;
}
.text-highlight{
    color: #363958;
}
.collection-jacket img{
    width: 250px;
    height: 250px;
    background-color: #d1d1d183;
    border-radius: 1em;
    padding: 10px;
    margin: 10px;
}
.item-card{
    border: 0 !important;
}
.item-footer{
    border: 0 !important;
}
.last-part{
    padding: 1em;
}